// Project Colors
$emeraldGreen: #54e6af;
$emeraldGreenLight: #b3ffe2;
$darkBlue: #121725;
$darkGrey: #2c344b;
$midGray: #5a668a;
$lightGray: #c2cbe5;
$white: #fff;
$error: #fb3e3e;

// Fonts
$font-title: 3.25rem; // 52px
$font-body: 1.125rem; // 18px

$font-xs: 0.875rem; // 14px
$font-sm: 0.9375rem; // 15px
$font-md: 1.625rem; // 26px
$font-lg: 3rem; // 48px

$line-height-title: 3.875rem; // 62px
$line-height-body: 1.75rem; // 28px

$line-height-sm: 1.5625rem; // 25px
$line-height-md: 2.25rem; // 36px
$line-height-lg: 3.625rem; // 58px
